* {
    font-family: SpaceMono Nerd Font, feather, monospace;
    font-weight: 900;
    font-size: 12px;
    color: #C0CAF5;
}

/* Set background colour of main waybar window */
window#waybar{
    background: rgba(25, 23, 36, 0.6);
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Set background colour of tooltips */
tooltip {
  background: #1f1d2e;
}

/* Set workspace text colour and padding */
#workspaces button {
  padding: 0px;
  color: #c0caf5;
}

/* Sets active workspace to have a solid line on the bottom */
#workspaces button.active {
  border-bottom: 2px solid #ebbcba;
  border-radius: 5px;
  margin-bottom: 2px;
}

/* More workspace stuff for highlighting on hover */
#workspaces button.focused {
  color: #a6adc5;
}

#workspaces button.urgent {
  color: #F7765E;
}


#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
}

/* sets background, padding, margins, and borders for (all) modules */
#custom-kernel,
#custom-pacman,
#workspaces,
#clock,
#window,
#temperature,
#cpu,
#memory,
#pulseaudio,
#tray,
#battery,
#backlight,
#network,
#custom-wl-gammarelay-temperature,

#custom-wl-gammarelay-temperature {
  background: rgb(25, 23, 36);
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px 8px 8px 8px;
}

#clock {
  background: rgb(25, 23, 36);
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px 8px 8px 8px;
}

#workspaces {
  background: rgb(25, 23, 36);
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 15px;
  margin-right: 5px;
  border-radius: 8px 8px 8px 8px;
}

#memory {
  background: rgb(25, 23, 36);
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px 8px 8px 8px;
}

#cpu {
  background: rgb(25, 23, 36);
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px 8px 8px 8px;
}

#pulseaudio {
  background: rgb(25, 23, 36);
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px 8px 8px 8px;
}
#mpd {
  background: rgb(25, 23, 36);
  padding: 0px 5px;
  margin: 3px 0px;
  border: 0px;
}

/* set up rounding to make these modules look like seperate pills */
#mpd {
  border-radius: 8px 8px 8px 8px;
  margin-left: 4px
}
#tray {
  border-radius: 8px 8px 8px 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 15px;
}
#window {
  border-radius: 8px 8px 8px 8px;
  padding-left: 5px;
  padding-right: 5px;
}

/* rounding only on left of module */
#temperature {
  border-radius: 8px 8px 8px 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#battery {
  border-radius: 8px 8px 8px 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#backlight {
  border-radius: 8px 8px 8px 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#network {
  border-radius: 8px 8px 8px 8px;
  padding-left: 5px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
/* rounding only on right of module(s) */
#custom-pacman, #custom-kernel {
  border-radius: 8px 8px 8px 8px;
}

